doctype html
html
  head
    title TestBlogRoR
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag :application, data: { turbo_track: :reload }
    = javascript_importmap_tags
  body
    = render 'shared/header'
    .wrapper
      - flash.each do |type, list|
        - if type == 'notice'
          ul.notice
            - list.each do |message|
              li= message
        - else
          ul.alert
            - list.each do |message|
              li= message
          
      = yield
